.Addbtn
{
            -fx-background-radius: 26px;

    -fx-background-color:  #c5c1c1;
    -fx-text-fill: #666666;
}
.Addbtn:hover
{
    -fx-background-color:  #FA2C56;
    -fx-text-fill: black;
   
}
.texto{
	-fx-accent: #007acc;
        -fx-font-size : 18 ; 
            -fx-text-fill: #666666;

	-fx-background-color: -fx-grey-color, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;}
.background{
    -fx-background-radius : 70 ;
    -fx-background-color :  #0098C0 ;
    
}